<div class="row">
  <div class="col-md-3">
    Element list
    <ul>
      <li>Element</li>
      <li>Element</li>
      <li>Element</li>
      <li>Element</li>
    </ul>
  </div>
  <div class="col-md-3">
    Element list
    <ul>
      <li>Element</li>
      <li>Element</li>
      <li>Element</li>
      <li>Element</li>
    </ul>
  </div>
  <div class="col-md-3">
    Element list
    <ul>
      <li>Element</li>
      <li>Element</li>
      <li>Element</li>
      <li>Element</li>
    </ul>
  </div>
<div class="col-md-3">
    Element list
    <ul>
      <li>Element</li>
      <li>Element</li>
      <li>Element</li>
      <li>Element</li>
    </ul>
  </div>
</div>
